In [ ]:
import numpy as np
#1.Massiv yaratish
array_1d = np.array([1,2,3,4,5])
array_2d = np.array([[1,2,3],[4,5,6]])
# 2.Matematik opratsiyalar
sum_array = np.sum(array_1d)
mean_array = np.mean(array_1d)
product_array = np.prod(array_1d)

print("1D Massiv:", array_1d)
print("2D Massiv:\n", array_2d)
print("Massivlar yig'indisi:", sum_array)
print("O'rtacha:", mean_array)
print("Ko'paytma:", product_array)

1D Massiv: [1 2 3 4 5]
2D Massiv:
 [[1 2 3]
 [4 5 6]]
Massivlar yig'indisi: 15
O'rtacha: 3.0
Ko'paytma: 120

In [ ]:
import pandas as pd

# 1.DataFrame yaratish
data = {
    'Ism':['Ali','Vali','Sardor'],
    'Yoshi':[25,30,22],
    'Shahar':['Toshkent','Samarqand','Buxoro']
}
df = pd.DataFrame(data)

# 2. Ma'lumotlarni ko'rish
print(df)

# 3. Filtrlash
young_people = df[df['Yoshi']<20]
print("30 yoshdan kichiklar:\n", young_people)

# 4. O'zgartirish
df['Yoshi'] +=1 # Har bir shaxsning yoshini 1 ga oshirish
print("Yangilangan DataFrame:\n",df)

      Ism  Yoshi     Shahar
0     Ali     25   Toshkent
1    Vali     30  Samarqand
2  Sardor     22     Buxoro
30 yoshdan kichiklar:
 Empty DataFrame
Columns: [Ism, Yoshi, Shahar]
Index: []
Yangilangan DataFrame:
       Ism  Yoshi     Shahar
0     Ali     26   Toshkent
1    Vali     31  Samarqand
2  Sardor     23     Buxoro

In [ ]:
import pandas as pd

# 1.DataFrame yaratish
data= {
    'ism':['Maftuna','Ezoza','Shohsanam','Moxichehra','Aziza','Zinnuraxon','Madinaxon','Marjona'],
    'Yoshi':[19,19,19,19,19,19,19,19],
    'Shahar':['Qoqon','Qoqon','Fargona','Fargona','Andijon','Qoqon','Fargona','Qoqon']
}
df = pd.DataFrame(data)

# 2.Ma'lumotlarni ko'rish
print(df)

# 3.Filtirlash:20 yoshdan kichiklar
young_people=df[df['Yoshi']<20]
print("20 yoshdan kichiklar:\n",young_people)

# 4.Yoshi ustunini yangilash
df['Yoshi']+=1
print("Yangilangan DataFrame:\n",df)

# 5.Fargonada yashaydiganlarni chiqarish
fargona_people =df[df['Shahar']=='Fargona']
print("Fargona yashaydiganlar:\n",fargona_people)

          ism  Yoshi   Shahar
0     Maftuna     19    Qoqon
1       Ezoza     19    Qoqon
2   Shohsanam     19  Fargona
3  Moxichehra     19  Fargona
4       Aziza     19  Andijon
5  Zinnuraxon     19    Qoqon
6   Madinaxon     19  Fargona
7     Marjona     19    Qoqon
20 yoshdan kichiklar:
           ism  Yoshi   Shahar
0     Maftuna     19    Qoqon
1       Ezoza     19    Qoqon
2   Shohsanam     19  Fargona
3  Moxichehra     19  Fargona
4       Aziza     19  Andijon
5  Zinnuraxon     19    Qoqon
6   Madinaxon     19  Fargona
7     Marjona     19    Qoqon
Yangilangan DataFrame:
           ism  Yoshi   Shahar
0     Maftuna     20    Qoqon
1       Ezoza     20    Qoqon
2   Shohsanam     20  Fargona
3  Moxichehra     20  Fargona
4       Aziza     20  Andijon
5  Zinnuraxon     20    Qoqon
6   Madinaxon     20  Fargona
7     Marjona     20    Qoqon
Fargona yashaydiganlar:
           ism  Yoshi   Shahar
2   Shohsanam     20  Fargona
3  Moxichehra     20  Fargona
6   Madinaxon     20  Fargona